<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %} {% endblock style%}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class="conteiner-logo-header">
            <div class="mainHeader">
                <div class="logoHeader">
                    <a class="" href="{{ url_for('home') }}" tabindex="1">
                        <img class="navbar-brand" alt="Git logo" src="{{ url_for('static', filename='src/logo.png') }}">
                    </a>
                </div>
                <div id="titleHeader">
                    <h1>INTIN</h1>
                    <h1><span>Library</span></h1>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <div class="navContainer">
                    <nav class="navHeader">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('home') }}"><i class="bi bi-house-door"></i> Home</a>
                            </li>
                            {% if session['usuario_logado'] %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('criar_livro') }}">
                                    <i class="bi bi-book"></i>Novo Livro
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">
                                    <i class="bi bi-box-arrow-right"></i> Logout
                                </a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">
                                    <i class="bi bi-box-arrow-in-right"></i> Login
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}"><i class="fa-solid fa-exclamation"></i> Sobre</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block conteudo %} {% endblock %}
    </main>
    <footer>
        <div class="container-elements">
            <div class="info">
                <img src="{{ url_for('static', filename='src/logo.png') }}" alt="img-logo">
                <div class="text-info">
                    <p>
                        Esta plataforma visa facilitar a conexão entre leitores e uma imensa gama de livros, oferecendo uma interface intuitiva que permite o acesso a informações detalhadas.
                    </p>
                </div>
            </div>
            
            <div class="links">
                <div class="pages">
                    <ul>
                        {% block routes %}
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% endblock %}
                    </ul>
                </div>
    
                <div class="complements">
                    <ul>
                        <li><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Framework</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>Copyright &copy; 2024 <span></span> - <span>Intin Library</span></p>
        </div>
    </footer>
</body>
</html>
