{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block conteudo %}
<section class="container">
    <form method="POST" action="{{ url_for('autenticar') }}">        
        <div class="main-login">
            <div class="right-login">
                <div class="card-login">
                    <h1>Sign in</h1>
                    <div class="textfield">
                        <label for="usuario">Username</label>
                        <input type="text" name="usuario" placeholder="username">
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="senha">
                    </div>
                    <button class="btn-login">Sign in</button>
                    <p class="signin">Não tem conta? <a href="{{ url_for('signup') }}">Sign up</a> </p>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}